name: hacktrack
description: A Flutter package for integrating HackTrack error and event tracking into Flutter applications.
version: 0.1.2

homepage: https://github.com/emilakerman/hacktrack
repository: https://github.com/emilakerman/hacktrack
issue_tracker: https://github.com/emilakerman/hacktrack/issues

environment:
  sdk: ">=3.0.0 <4.0.0"
  flutter: ">=1.17.0"

dependencies:
  flutter:
    sdk: flutter
  http: ^0.13.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0
